@font-face {
    font-family: 'SourceSerifPro';
    src:
        url('fonts/sourceserifpro/SourceSerifPro-Black.otf') format('otf'),
        url('fonts/sourceserifpro/SourceSerifPro-Light.ttf') format('otf'),
        url('fonts/sourceserifpro/SourceSerifPro-ExtraLight.ttf') format('truetype'),

        /* OTF */
        url('fonts/sourceserifpro/SourceSerifPro-Bold.ttf') format('truetype'),
        url('fonts/sourceserifpro/SourceSerifPro-Light.ttf') format('truetype'),
        url('fonts/sourceserifpro/SourceSerifPro-ExtraLight.ttf') format('truetype'),

        /* TTF */
}

/* :root {
    --titleColor: #FFFFFF;
    --textColor: #FFFFFF;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-size: 80px;
    font-family: Source Serif Pro;
    font-weight: 400;
    letter-spacing: 0px;

    text-transform: uppercase;
    /* font-family: "SourceSerifPro-bold", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: bold;
    /* font-style: light; */
    /* color: var(--titleColor);
    font-size: 80px; */
}

h2 {
    font-size: 45px;
    font-family: Source Serif Pro;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0px;

    text-transform: uppercase;
    /* font-family: "SourceSerifPro-bold", 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    color: var(--titleColor); */
}

h3 {
    font-size: 30px;
    font-family: Source Serif Pro;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;

    color: #1D3557;
    /* font-family: "SourceSerifPro-bold", 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    color: var(--titleColor); */
}

h3.bold {
    font-size: 35px;
    font-family: Source Serif Pro;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
}

p {
    font-size: 20px;
    font-family: Source Serif Pro;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;

    /* font-family: "SourceSerifPro", 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 3px;
    color: var(--textColor); */
}


a {
    font-size: 20px;
    font-family: Source Serif Pro;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;

    text-decoration: none;
    color: #000;

    /* font-family: "SourceSerifPro-bold", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: bold;
    text-decoration: none;
    color: #000; */
}

button {
    font-size: 30px;
    font-family: Source Serif Pro;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;


    /* font-family: "SourceSerifPro-bold", 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 3px; */

    width: 460px;
    padding: 15px 70px;

    background: #FFB400;
    justify-self: center;

    border: 0;
    /* border-radius: 5px; */

}

button:hover {
    background: #F4C2C2;
}

/* General params */
body {
    background: #F8F5E4;
}

.conteiner {
    width: 1600px;
    margin: auto;
    /* background-color: lightblue; */
}

section, article {
    margin: 0 auto 100px auto;
}


.paper-effect {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom right, #fff, #fcfafb), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23eaeaeb' d='M12 0l11 3v18l-11-3v-18zm1 21c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10z'/%3E%3C/svg%3E");
    background-size: cover;
    color: #333;
    line-height: 1.5;
}

.callToAction_wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    gap: 100px;
    padding: 50px;

    background: #4E9177;
}

.callToAction-title {
    width: 950px;

    text-transform: none;
}

.callToAction_wrapper button {}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.tour-card h3+p {
    color: black
}

.modal-content h2+p {
    color: #000;
}

.hidden_el {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* ############# */

header {
    width: 100vw;
    top: 0;
    left: 0;
    height: auto;
    background: #F8F5E4;
    border-bottom: solid 1px #1D3557;

    /* margin: auto; */

    position: fixed;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
}

header.hidden {
    transform: translateY(-100%);
    transition-duration: 0.5s;
}

header.transparent {
    background-color: transparent;
    box-shadow: none;
    transition: 0.5s;

    border-bottom: none;

}

header>.conteiner {
    display: flex;
    padding: 15px 0;
}

.logo {
    max-width: 80px;
    max-height: 80px;

}

.logo>a>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.logo>a {
    display: contents;
}

header nav {
    margin: auto;
    align-content: center;
}

nav>ul {
    display: flex;
    list-style: none;
}

nav>ul>li>a {
    display: inline-block;
    width: 150px;
}

/* .navLink {
    color: white
} */

/* .black {
    color: white
} */



/* .btn_reserve {
    width: 250px;
    height: 40px;

    background: rgb(60, 134, 159);

    border-radius: 15px;
    border: solid 1px blue;
} */

/*   ############ Первая часть страницы ########### */

.whiteBackground {
    position: absolute;
    left: 0;
    top: 0;

    width: 30%;
    height: 100vh;

    background-color: #f5f1f1;
    opacity: 0.13;
    z-index: 2;
}

.blackBackground {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: #000;
    opacity: 0.35;
    z-index: 1;
}

.welcome {
    height: 100vh;

    position: relative;
    top: -80px;
    background: url('img/HeaderBackground.jpg') no-repeat center/cover;

    margin-top: 80px;
    margin-bottom: 0px;
    padding-top: 110px;
    padding-bottom: 100px;

    z-index: 0;
}

.welcome .conteiner {
    position: relative;
    z-index: 3;

    padding-left: 25%;
}

.welcome__textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 700px;
    height: 1000px;

    margin-top: 350px;
    /* max-height: 100vh; */
}

.welcome h1 {
    color: #FFFFFF;
}

.welcome p {
    font-size: 30px;
    font-family: Source Serif Pro;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 5px;

    color: #FFFFFF;
}

/* .btn {
    max-width: 460px;
    height: 78px;
    justify-self: center;
    align-items: center;
    background: #FFB400;
    padding: 16.5px 67px;
} */

/* .welcome__textbox-span {
    font: 32px bold;
    color: white;
} */

/* ######### Description part ######## */

.description-text {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    line-height: 55px;
    letter-spacing: 0;
    color: #000;
}

/* ########## Beautiful Part ########## */

.beautifulPlace {
    /* background: yellow; */
}

.beautifulPlace-title {
    /* font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0;
    color: #000 */

    text-align: center;
}

.beautifulPlace-title>.red {
    color: #E63946
}

.beautifulPlace_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.beautifulPlace_wrapper__card {
    width: 450px;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: end;

    position: relative;
    border-radius: 25px;
    z-index: 0;

}

.palace {
    background: url('img/GyeongbokgungPalace.jpg') no-repeat center/cover;
}

.buchkok {
    background: url('img/BukchonHanokVillage.jpg') no-repeat center/cover;
}

.lotte {
    background: url('img/LotteWorld\ Seoul.jpg') no-repeat center/cover;
}

.beautifulPlace_wrapper__card__textbox {
    width: 100%;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 0;
    left: 0;

}

.back {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 25px;

    position: absolute;

    background-color: #d9d9d9;
    opacity: 0.44;
    z-index: 1;

}

.beautifulPlace_wrapper__card__back-title {
    /* font-size: 35px;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    color: #1D3557;
 */
    z-index: 3;
}


/* ############ Direction part ############# */

.direction-title {
    /* text-transform: uppercase;
    justify-self: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0;
    text-align: center;

    color: #000; */
    text-align: center;
}

.direction_select {
    margin-top: 50px;
}

.direction_select>ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.direction_select a {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    /* font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    color: #000;
    text-transform: uppercase; */
}

.direction_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    padding: 50px;
}



.direction_wrapper__left {
    width: 50%;
}

.direction_wrapper__left>img {
    width: 100%;
}



.direction_wrapper__right {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

}

.direction_wrapper__right-title {
    /* font-size: 35px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: #000; */
}

.direction_wrapper__right-features {
    display: flex;
    justify-content: space-around;
}

.feature {
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.feature p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
}

.feature>span {
    width: 30px;
    height: 30px;
    color: #000;

}

.direction_wrapper__right-text {
    /* font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    color: #000; */
}

/* ############## Advantages ############ */

.advantages-title {
    text-align: center;
    /* color: #000; */
}

.advantages_wrapper {
    display: flex;
    justify-content: space-evenly;

    margin-top: 50px;
}

.advantages_wrapper__card {
    width: 400px;


    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    padding: 25px;

}

.advantages_wrapper__card p {
    /* font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    color: #000;

    text-align: center; */
}

/* ############# OurGuides ############# */

.ourGuide {}

.ourGuide-title {
    text-align: center;
    /* color: #000; */
}

.ourGuide_wrapper {
    display: flex;
    justify-content: space-evenly;

    margin-top: 50px;
}

.ourGuide_wrapper__card {
    width: 40%;
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;

    position: relative;
    z-index: 0;
}

.ourGuide_wrapper__card img {
    max-width: 100%;
    max-height: 100%;

    position: relative;
}

.ourGuide_wrapper__card__textbox {
    width: 100%;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

}

.ourGuide_wrapper__card__back {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: #d9d9d9;
    opacity: 0.44;
    z-index: 1;

}

.ourGuide_wrapper__card-title {
    /* font-size: 35px;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    color: #1D3557; */

    z-index: 3;
}


.annaKim {
    background: url('img/annaGuide.jpg') no-repeat center/cover;
}

.alexandrKim {
    background: url('img/alexanderGuide.jpg') no-repeat center/cover;
}

/* ############# Reviews ########### */

.reviews {
    /* text-align: center;
    padding: 40px 20px;
    background: #f8f8f8; */
}

.reviews-title {
    /* color: #000; */
}



.reviews-title {
    text-align: center;
}

.reviews_carousel {
    position: relative;


    overflow: hidden;
    padding: 25px 50px 50px 50px;
    margin-top: 50px;
}

.carousel_wrapper {
    display: flex;
    gap: 50px;
    transition: transform 0.5s ease-in-out;
    position: relative;

    z-index: 0;
}

.card_field {
    /* max-width: 300px; */
    /* height: 400px; */
    perspective: 1000px;
    flex-shrink: 0;


}

.card_inner {
    width: 400px;
    height: 600px;

    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    transition: transform 0.6s;
    transform-style: preserve-3d;


    position: relative;


}



.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;



}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* box-sizing: border-box;
    border: 2px solid black; */

    /* padding: 20px; */
}

.card-back {
    background: #ffefdb;
    transform: rotateY(180deg);

}

.card_field.flipped .card_inner {
    transform: rotateY(180deg);
}



.card_inner_textbox {
    width: 100%;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    position: absolute;
    bottom: 0;
    left: 0;


}

.card_inner_textbox-background {
    width: 100%;
    height: 100px;

    position: absolute;
    border-radius: 0 0 20px 20px;

    bottom: 0;
    left: 0;

    background-color: white;
    opacity: 0.3;
}

button.prev,
button.next {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    top: 50%;
    z-index: 5;
    width: 100px;

    font-size: 20px;
    padding: 10px;
    transform: translateY(-50%);

    color: white;
    cursor: pointer;

}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover+button.next:hover {
    background: rgba(0, 0, 0, 0.6);
}


.footer {
    background: #2c2c2c;
    color: #f8f8f8;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

footer>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
}

footer h3 {
    color: #FFFFFF;
}

.footer_logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer_logo p {
    font-size: 14px;
    color: #bbb;
}

.footer_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_links ul {
    list-style: none;
    padding: 0;
}

.footer_links ul li {
    margin: 5px 0;
}

.footer_links ul li a {
    text-decoration: none;
    color: #f8f8f8;
    transition: 0.3s;
}

.footer_links ul li a:hover {
    color: #ffcc80;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_contact a {
    text-decoration: none;
    color: #f8f8f8;
    transition: 0.3s;
}

.footer_contact a:hover {
    color: #ffcc80;
}


.footer_social img {
    width: 30px;
    margin: 5px;
    transition: transform 0.3s;
}

.footer_social img:hover {
    transform: scale(1.1);
}

.footer_bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}

.seul {
    background: url('img/whyKorean_1.jpeg') no-repeat;
    background-size: cover;
}

.Pusan {
    background: url(img/whyKorean_2.jpeg) no-repeat;
    background-size: cover;
}

.chezhudo {
    background: url(img/whyKorean_3.jpeg) no-repeat;
    background-size: cover;
}